@model dynamicNSG.Models.NSGrule

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>NSGrule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nsgName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nsgName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.order)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.order)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.action)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.action)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.srcIp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.srcIp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.srcProt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.srcProt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.srcPort)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.srcPort)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dstIp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dstIp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dstProt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dstProt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dstPort)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dstPort)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
