@model IEnumerable<dynamicNSG.Models.NSGrule>

@{
    ViewBag.Title = "NSG rules";
}

<h2>NSG rules</h2>

<!--<p>
    @Html.ActionLink("Create New", "Create")
</p>-->

<p>These are the NSG rules that will be created next time the associated Azure Functions are executed</p>
<br>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nsgName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.direction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.order)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.action)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.srcIp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.srcProt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.srcPort)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dstIp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dstProt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dstPort)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nsgName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.direction)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.order)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.action)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.srcIp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.srcProt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.srcPort)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dstIp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dstProt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dstPort)
        </td>
<!--
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
-->
    </tr>
}

</table>
